@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&family=DM+Mono:wght@300;400&family=Instrument+Serif:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

::-webkit-scrollbar       { width: 4px; }
::-webkit-scrollbar-track { background: #0a0a0f; }
::-webkit-scrollbar-thumb { background: #1e1e2e; border-radius: 4px; }

input, textarea { color-scheme: dark; }
